*{
    box-sizing: border-box;
}
.array{
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;

}
.elements{
    width:50px;
    height:50px;
    position: absolute;
    padding: 15px;
    transition: 0.5s;
    text-align: center;
    border: 2px solid orange;
    display: flex;
    justify-content: center;
}
select{
    width:200px;
    padding:10px;
    background-color: rgb(184, 220, 255);
    cursor: pointer;
}
select:hover{
    background-color: rgba(182, 219, 255, 0.6);
}
.arrow{
    position: absolute;
    display: none;
    z-index:-1;
}