/* style.css  */
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    margin: 0;
    text-align: center;
    /* display: flex; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    background-color: #1287A5;
    height:max-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    padding:0.5rem 0;
}
nav .title{
    color:#FFF;
    font-weight: bold;
    font-size: 1.6rem;
}
.menu{
    padding: 5px 0;
}
.array{
    margin-top:5px;
    height: 60vh;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-around;
    position: relative;
    overflow-y: scroll;
}
.array::-webkit-scrollbar{
    width: 5px;
}
.array::-webkit-scrollbar-track{
    background: #F4F4F4;
}
.array::-webkit-scrollbar-thumb{
    background: #1287A5;
    border-radius: 10px;
}
.array::-webkit-scrollbar-thumb:hover{
    background: rgb(48, 188, 223);
}
.elements{
    background-color: #99AAAB;
    border:0.1px solid #EEE;
}
.controls{
    width:100%;
    padding:4px;
    position: relative;
}
select{
    width:10rem;
    padding:10px;
    background-image: linear-gradient(135deg, #758AA2,rgba(40, 164, 196, 0.76));
    border-radius: 5px;
    outline: 0;
    color: #FFF;
    font-size: 0.9rem;
    cursor: pointer;
}
select:hover{
    background-color: grey;
}
select optgroup[label]{
    padding:10px 0;
}
option {
    padding:10px;
}
.swapCount{
    display: none;
}
input#num{
    width:100px;
    padding:10px;
    border-radius: 5px;
    border: 0;
    outline: 0;
}
input#custom-arr{
    padding:5px;
    outline: 0;
    border-radius: 5px;
}
span#errorMsg{
    color: red;
    height: 10px;
}
.custom-array{
    background:none;
    border:0;
    box-shadow: none;
    color: #1287A5;
    display: block;
    text-align: center;
    outline: 0;
    cursor: pointer;
}
.custom-array:active{
    color: gray;
    background-image:none;
    box-shadow: none;
}
.arrow{
    position: absolute;
    display: none;
    z-index:-1;
}
button{
    padding:10px;
    margin:10px;
    border-radius:10px;
    border:none;
    outline: none;
    cursor: pointer;
    color: #FFF;
    font-size: 0.9rem;
    background-image: linear-gradient(135deg, #758AA2,rgba(40, 164, 196, 0.76));
    box-shadow: 1px 2px 5px grey;
}
button:active{
    color: black;
    background-image: linear-gradient(135deg, rgb(159, 195, 236),rgba(143, 201, 216, 0.76));
    box-shadow: 0px 0px 2px 1px grey;
}
.modal{
    width: 40%;
    min-width: 300px;
    height: 250px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(40, 164, 196);
    position: absolute;
    z-index: 2;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(135deg, rgb(159, 227, 236),rgba(18, 77, 92, 0.76));
    opacity: 0;
    pointer-events: none;
    transition: all 1s ease;
    border-radius: 10px;
}
.modal>p{
    color: rgb(73, 73, 73);
    margin:10px;
}
.close-modal{
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 10px;
}
footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 3px 0;
    margin: 0;
    background-color: #aaa;
    /* color: ; */
}
footer p{
    text-align: center;
}
/* button:active{
    box-shadow: 0px 0px 2px 1px grey;
} */
@media screen and (max-width:768px){
    nav{
        flex-direction: column;
    }
}
@media screen and (min-width:1024px){
    .array{
        height: 75vh;
        width: 50%;
        margin: auto;
        margin-top:5px;
    }
}